services:
  proxmox-qdevice:
    build:
      context: https://github.com/HandyBaile/proxmox-qdevice-arm.git
      dockerfile: Dockerfile
    ports:
      - "22:22"
      - "5403:5403"
    environment:
      - NEW_ROOT_PASSWORD=<password>      # Remove After First Run (ex: 1234pass)
    volumes:
      - /run/sshd
      - <local_storage>:/etc/corosync     # Local Sorage Location  (ex: ./data)
    restart: unless-stopped
    hostname: qdevice
    networks: 
      vlan:
        ipv4_address: <aaa.bbb.ccc.ddd>   # Container IP Address   (ex: 10.11.12.102)

networks:
 vlan:
    driver: macvlan
    driver_opts:
      parent: <dev>                       # Host Network Device    (ex: eth0) 
    ipam:
       driver: default
       config:
        - subnet: <aaa.bbb.ccc.ddd/eee>   # Subnet IP Address      (ex: 10.11.12.0/24)
          ip_range: <aaa.bbb.ccc.ddd>/32" # Container IP Address   (ex: 10.11.12.123/32)
          gateway: <aaa.bbb.ccc.ddd>      # Gateway IP Address     (ex: 10.11.12.254)
